html, body {
  height: 100%;
  margin: 0;
}
.error-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding-bottom: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.error {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.logo {
  height: 100%;
  width: 50%;
  float: left;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 8px;
  background-position: center;
  background-size: cover;
}
.logo > a {
  display: block;
  height: 100%;
  width: 100%;
}
.error-message {
  height: 100%;
  width: 50%;
  float: left;  
  font-size: 24px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #949599;
}
.error-code { 
  font-size: 48px;
}
@media (max-width: 539px) {
  .error-wrapper {
    width: 62.5%;
    padding-bottom: 125%;
  }
  .logo {
    height: 50%;
    width: 100%;
  }
  .error-message {
    height: 50%;
    width: 100%;
    font-size: 16px;
  }
  .error-code { 
    font-size: 32px;
  }
} 
@media (min-width: 540px) and (max-width: 991px) {
  .error-wrapper {
    width: 80%;
    padding-bottom: 40%;
  }
  .error-message {
    font-size: 20px;
  }
  .error-code { 
    font-size: 40px;
  }
}
